<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>登录</title>
        <script src="../static/javascript/http_ajax.aspnetcdn.com_ajax_jquery_jquery-3.5.1.js"></script>
        <script src="../static/javascript/loginJS.js" defer></script>
        <link rel="stylesheet" href="../static/css/login.css"/>
    </head>
    <body>
        <div id="content">
            <div id="title">瓜皮约车系统</div>
            <div id="items">
                <div>用户ID<input id="userId" type="number"></div>
                <div>密码<input id="password"></div>
                <div id="typeDiv">类型
                    <input type="radio" name="type" value="0">乘客
                    <input type="radio" name="type" value="1">司机
                </div><!--类型'0'为客户，'1' 和 其他为司机-->
                <div><button id="put">提交</button></div>
            </div>
        </div>
    </body>
</html>